html { 
    scroll-behavior: smooth;
 }

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-image: url(./img/2.jpg);
    background-repeat: no-repeat;
    color: white;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

header h1 {
   
    margin: 0;
    font-size: 2.7rem;
    text-shadow:
        -2px -1px 0 #000,
        2px -1px 0 #000,
        -2px 1px 0 #000,
        2px 1px 0 #000;
}

nav {
    background: #333;

    padding: 10px;
}

nav ul {
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    color: #4CAF50;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

#introduccion {
    height: 50vh;
    margin-left: 100px;
    margin-right: 100px;
    
}

.contenedorIntro {
    display: flex;
    flex-wrap: nowrap;
}

.titleIntro {
    margin: 0;
    width: 100%;
    display: flex;

}

.textIntro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    padding: 1%;
}

.text {
    padding-left: 3%;
    padding-right: 4%;
}

.imgIntro {
    width: 400px;
    height: 300px;
}
